@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-mono: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181a2b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
}

.product-image-gallery img {
  @apply rounded-md;
}

button {
  cursor: pointer;
  @apply hover:scale-105 hover:opacity-80 transition-all duration-200;
}

.image-gallery-thumbnail-inner,
.image-gallery-thumbnail {
  height: 50px !important;
}

.image-gallery-bullet {
  border-radius: 30px !important;
  padding: 3px !important;
}

.image-gallery-bullet.active {
  width: 30px !important;
}

.image-gallery-svg {
  width: 25px !important;
}
